#padding {
    padding-top: 3rem;
}
.fab, .fas {
    font-size: 35px;
}
.fas {   
    padding-top: 1rem;
}
.fab {
    padding-right: 3rem;
    padding-left: 3rem;
}
.sizing {
    height: 200px;
    width: auto;
}
.about-img {
    width: 200px;
    height: 150px;
}
.about-img2 {
    width: 300px;
    height: 250px;
}
