#padding {
    padding-top: 3rem;
}
.fab, .fas {
    font-size: 35px;
}
.fas {   
    padding-top: 1rem;
}
.fab {
    padding-right: 3rem;
    padding-left: 3rem;
}
.sizing {
    height: 200px;
    width: auto;
}
.about-img {
    width: 200px;
    height: 150px;
}
.about-img2 {
    width: 300px;
    height: 250px;
}
.style-p {
    line-height: 200%;
    font-size: 1.2rem;
}
.style-h {    
    font-size: 3rem;
}
.activ:hover {
    background-color: rgb(255, 196, 0);
    color: black!important;
}
.form-control {
    background: transparent;
    border: none;
    border-bottom: 1px solid grey;
    outline: none;
    font-size: 15px;
    color: white;   
}
.fo {
    color: #faac03;
    margin-bottom: 20px
}
.close {
    position: absolute !important;
    right: 0;
    z-index: 1;
    border: 7px solid lightgray !important;
    width: 5px;
    height: 5px;
    border-radius: 10rem;
    background-color: #ECEFF1 !important;
    opacity: 1;
    top: 35px;
    right: 25px
}
.close>span {
    position: relative;
    right: 10px;
    padding: 0px;
    bottom: 17px;
    font-size: 29px;
    background-color: transparent
}

/*cards testimony*/
.cardi-header img {
    border: 5px solid white !important
}

.outside {
    position: absolute;
    left: -11%
}

.cardi {
    border-radius: 20px !important;
    box-shadow: 2px 2px 10px 0px rgb(100, 108, 170);
    width: 20rem;
    margin-left: 25px
}

hr {
    justify-content: center !important;
    align-self: center !important;
    width: 80%
}

.cardi-footer {
    border-radius: 20px !important
}

.bold {
    font-weight: 500
}

.margin-left {
    margin-left: 30px !important
}

@media (max-width: 390px) {
    .cardi {
        width: unset !important
    }

    .outside {
        position: relative;