#padding {
    padding-top: 3rem;
}
.fab, .fas {
    font-size: 35px;
}
.fas {   
    padding-top: 1rem;
}
.fab {
    padding-right: 3rem;
    padding-left: 3rem;
}
.sizing {
    height: 200px;
    width: auto;
}
.about-img {
    width: 200px;
    height: 150px;
}
.about-img2 {
    width: 300px;
    height: 250px;
}
.style-p {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    line-height: 200%;
    font-size: 1.2rem;
}
.style-h {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 3rem;
}
.activ:hover {
    background-color: rgb(255, 196, 0);
    color: black!important;
}
.form-control {
    background: transparent;
    border: none;
    border-bottom: 1px solid grey;
    outline: none;
    font-size: 15px;
    color: white;   
}